<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright (C) 2016 Vinicius Rogério Araujo Silva
 -
 - This file is part of RAMvader-DeadSpace.
 - 
 - RAMvader-DeadSpace is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 - 
 - RAMvader-DeadSpace is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 - 
 - You should have received a copy of the GNU General Public License
 - along with RAMvader-DeadSpace. If not, see <http://www.gnu.org/licenses/>.
 -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<!-- This file will be generating a setup file which does the following:
	  -  1-Checks if the user has the .NET Framework 4.5 installed in his/her machine. If the framework is not installed, the setup is capable
	  -    of downloading and installing it for the user.
	  -  2-Installs the trainer's files into the user's machine. -->
	<Bundle Name="RAMvader-DeadSpace Trainer" Version="1.0.0" Manufacturer="Vinicius Rogério Araujo Silva" UpgradeCode="7CBEC6DF-A709-4DAA-B2CC-44E3139F55E6"
          IconSourceFile="$(var.TrainerApp.ProjectDir)media\icon.ico"
          DisableModify="yes">
		<!-- Configure to use Wix Toolset's standard bootstrapper application for installing the chain of packages. -->
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
			<bal:WixStandardBootstrapperApplication LicenseFile="$(var.TrainerApp.ProjectDir)docs\License.rtf"
													LogoFile="$(var.ProjectDir)media\icon64x64.png" />
		</BootstrapperApplicationRef>

		<!-- Chain of packages to be installed. -->
		<Chain>
			<!-- Install the necessary .NET Framework before installing the trainer. -->
			<PackageGroupRef Id="NetFx45Web"/>

			<!-- Install the package generated by the "SetupMSI" project. -->
			<MsiPackage SourceFile="$(var.SetupMSI.TargetPath)" DisplayInternalUI="yes" />
		</Chain>
	</Bundle>
</Wix>